#sectionFotos {
    header {
        background-image: url(/img/headerbg_03.jpg);
    }
        
    .main_photos {
        .container_01 {
            background-image: url(/img/texture_dust_scratches.png);
            padding: 0;
            .film_01 {     
                .photo {            
                    text-align: center;
                    }
                    .video_title {
                        .title_sub {
                            text-align: center;
                            color: black;
                            text-transform: uppercase;                           
                            .title {
                                font-family: 'Syne Mono', monospace, Verdana;
                                font-size: 60px;
                                
                            }
                            .sub {
                                font-weight: bold;
                                font-size: 15px;
                                font-family: Verdana, Geneva, Tahoma, sans-serif; 
                            }
                            
                            
                            
                        }
                    }
                }
            .pics_01 {
                text-align: center;
                .pic_01 {
                    
                    img {
                        margin: 20px 0;                    
                        width: 250px;
                        border: 4px solid rgb(117, 96, 38);
                        border-radius: 10px;
                    }
                }
            }    
        }    
        .container_02 {
            background-image: url(/img/texture_light-veneer.png);
            padding: 0;
            .film_02 {            
                .photo {            
                    text-align: center;
                    
                    }
                    .video_title {
                        margin-top: auto;
                        margin-bottom: auto;
                        .title_sub {
                                text-align: center;
                                color: black;
                                text-transform: uppercase;
                                .title {
                                    font-family: 'Syne Mono', monospace, Verdana;
                                    font-size: 60px;
                                }
                                .sub {
                                    font-weight: bold;
                                    font-size: 15px;
                                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                                    letter-spacing: 2px; 
                                }
                                
                                
                                
                            }
                    }
                }
            .pics_01 {
                text-align: center;
                .pic_01 {
                    
                    img {
                        margin: 20px 0;                    
                        width: 250px;
                        border: 4px solid rgb(117, 96, 38);
                        border-radius: 10px;
                    }
                }
            } 
        }
        .container_03 {
            background-image: url(/img/texture_pink_rice.png);
            padding: 0;
            .film_03 {            
                .photo {            
                    text-align: center;
                    
                    }
                    .video_title {
                        margin-top: auto;
                        margin-bottom: auto;
                        .title_sub {
                                text-align: center;
                                color: black;
                                text-transform: uppercase;
                                .title {
                                    font-family: 'Syne Mono', monospace, Verdana;
                                    font-size: 60px;
                                }
                                .sub {
                                    font-weight: bold;
                                    font-size: 15px;
                                    font-family: Verdana, Geneva, Tahoma, sans-serif; 
                                }
                                
                                
                                
                            }
                    }
                }
            .pics_01 {
                text-align: center;
                .pic_01 {
                    
                    img {
                        margin: 20px 0;                    
                        width: 250px;
                        border: 4px solid rgb(117, 96, 38);
                        border-radius: 10px;
                    }
                }
            } 
        }    
        .container_04 {
            background-image: url(/img/texture_vintage-concrete.png);
            padding: 0;
            .film_04 {            
                .photo {            
                    text-align: center;
                    
                    }
                    .video_title {
                        margin-top: auto;
                        margin-bottom: auto;
                        .title_sub {
                                text-align: center;
                                color: black;
                                text-transform: uppercase;
                                .title {
                                    font-family: 'Syne Mono', monospace, Verdana;
                                    font-size: 60px;
                                }
                                .sub {
                                    font-weight: bold;
                                    font-size: 15px;
                                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                                    letter-spacing: 2px; 
                                }
                                
                                
                                
                            }
                    }
                }
            .pics_01 {
                text-align: center;
                .pic_01 {
                    
                    img {
                        margin: 20px 0;                    
                        width: 250px;
                        border: 4px solid rgb(117, 96, 38);
                        border-radius: 10px;
                    }
                }
            } 
        }
        .container_05 {
            background-image: url(/img/texture_green_dust_scratch.png);
            padding:  0;
            .film_05 {            
                .photo {            
                    text-align: center;
                    
                    }
                    .video_title {
                        margin-top: auto;
                        margin-bottom: auto;
                        .title_sub {
                                text-align: center;
                                color: black;
                                text-transform: uppercase;
                                .title {
                                    font-family: 'Syne Mono', monospace, Verdana;
                                    font-size: 60px;
                                }
                                .sub {
                                    font-weight: bold;
                                    font-size: 15px;
                                    font-family: Verdana, Geneva, Tahoma, sans-serif; 
                                }
                            }
                    }
                }
                .pics_01 {
                    text-align: center;
                    .pic_01 {
                        
                        img {
                            margin: 20px 0;                    
                            width: 250px;
                            border: 4px solid rgb(117, 96, 38);
                            border-radius: 10px;
                        }
                    }
                } 
        }
    }
}

@media (max-width: 1024px) {
    #sectionFotos {
        .main_photos {
            .container_01 {
                .film_01 {
                    .video_title {
                        .title_sub {
                            .title {
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
            .container_02 {
                .film_02 {
                    .video_title {
                        .title_sub {
                            .title {
                                font-size: 40px;
                            }
                            .sub {
                                 font-size: 10px;
                            }
                        }
                    }
                }
            }
            .container_03 {
                .film_03 {
                    .video_title {
                        .title_sub {
                            .title {
                                font-size: 40px;
                            }
                            .sub {
                                 font-size: 10px;
                            }
                        }
                    }
                }
            }
            .container_04 {
                .film_04 {
                    .video_title {
                        .title_sub {
                            .title {
                                font-size: 40px;
                            }
                            .sub {
                                 font-size: 10px;
                            }
                        }
                    }
                }
            }
            .container_05 {
                .film_05 {
                    .video_title {
                        .title_sub {
                            .title {
                                font-size: 40px;
                            }
                            .sub {
                                 font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}